.menu__list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255,255,255,0.7);
  height: 10vh;
  width: 90vw;
  margin-left: 5vw;
}

.menu__listItem {
  list-style-type: none;
  font-family: cat;
  font-size: 1.2rem;
  padding: 1vw;
  a {
    color: rgb(122,122,122);
  }
  &:hover {
    background-color: #fff;
    color: rgb(46,53,133);
    border-radius: 3px;
  }
  @include medium {
    font-size: 1.7rem;
  }
  @include large {
    font-size: 2rem;
  }
}

