include ../partials/menu.pug
include ../partials/header.pug
<section class="game__main">
  <h2 class="game__mainTitle">Le jeu</h2>
  <p class="game__mainPresentation"></p>
  <img class="game__mainImg" src="img/unicorn-gift.gif" alt="gif">
</section>


include ../partials/footer.pug
