include ../partials/header.pug
include ../partials/menu.pug

<section class="home" id="home">
  <div class="home__top"></div>
  <div class="home__main">
    <h1 class="home__mainTitle">Unstable Unicorns: Le jeu de cartes qui détruira toutes vos amitiés.</h1>
    <ul class="home__mainList">
      <li class="home__mainListItem"><a class="home__mainLink" href="game.pug">Le jeu</a></li>
      <li class="home__mainListItem"><a class="home__mainLink" href="https://www.kickstarter.com/projects/ramybadie/unstable-unicorns?lang=fr">Soutenir le projet</a></li>
    </ul>
  </div>
</section>
<section class="game" id="game">
  <h2 class="game__title">Le jeu</h2>
  <div class="game__presentation">
    <h3 class="game__presentationCatchphrase">Trahissez vos amis. Désormais, seules les licornes sont vos amies.</h3>
    <p class="game__presentationParag">Il y a deux choses que tout le monde adore : les licornes et la destruction. Unstable Unicorns est un jeu de cartes stratégique qui fusionne ces deux éléments. Ses illustrations aussi trash qu'adorables et son gameplay élaboré vous feront vivre une expérience magique... et particulièrement destructrice. Lancé en 2017 sur Kickstarter, le projet a récolté plus de $1,800,000. Pour l'instant, personne n'y a réellement joué, mais vous pouvez faire confiance à l'équipe : il est tout simplement magique !
    </p>
    <p class="game__presentationParag">
    </p>
  </div>
  <div class="game__img"></div>
</section>
<section class="rules" id="rules">
  <h2 class="rules__title">Les règles</h2>
  <h3 class="rules__part">Dans quoi je m'embarque ?</h3>
  <p class="rule__partParag">Vous démarrez avec un bébé licorne dans votre écurie, puis vous pourrez vous lancer dans la construction de votre armée. Chaque licorne magique a un pouvoir spécial, mais ne sous-estimez pas le puvoir des licornes ordinaires ! Utilisez bonus et malus pour protéger et construire votre écurie (ou bien pour attaquer les autres joueurs MUAHAHAHA). Les cartes "Instant" empêchent les autres joueurs de poser une carte ; elles seront donc vos meilleures amies... ou vos pire ennemies. Le premier à compléter son armée de licornes gagne !</p>
  <div class="rules__imgBegin"></div>
  <h3 class="rules__part">Mise en place</h3>
  <p class="rule__partParag">Réunissez toutes les cartes de bébés licornes et placez-en une dans l'écurie de chaque joueur. Placez le reste de ces cartes dans une pile : ce sera votre nurserie. Mélangez les cartes restantes et distribuez-en 5 à chaque joueur. Le reste du tas forme la pioche.</p>
  <h3 class="rules__part">Qui commence ?</h3>
  <p class="rule__partParag">LA personne qui porte le plus de couleurs, évidemment.</p>
  <h3 class="rules__part">Les types de cartes</h3>
  <div class="rules__partImgCardType"></div>
  <h3 class="rules__part">Et pendant mon tour, je fais quoi ?</h3>
  <p class="rules__partParag">Tournez dans le sens des aiguilles d'une montre. Chaque tour comporte 4 phases :</p>
  <ul class="rules__partList">
    <li class="rules__partListItem">Début du tour : Si l'une de vos carte doit être jouée au début d'un tour, vous pouvez la jouer. Si vous oubliez de l'utiliser avant de piocher, vous perdez son effet.</li>
    <li class="rulse__partListItem">Pioche : Piochez une carte.</li>
    <li class="rules__partListItem">Action : Jouez une carte de votre main ou piochez-en une supplémentaire.</li>
    <li class="rules__partListItem">Fin du tour : Si vous avez plus de 7 cartes en main, débarassez-vous de celles en trop.</li>
  </ul>
  <h3 class="rules__part">Comment gagner ?</h3>
  <p class="rules__partParag">La première personne à posséder 7 licornes dans son écurie gagne ! Elle et son armée sont les dirigeants légitimes du monde magique. Tout le monde doit s'incliner devant eux !</p>
  <div class="rules__imgEnd"></div>
  <h3 class="ruless__part">Et si je n'ai plus de cartes ?</h3>
  <ul class="rules__partList">
    <li class="rules__partListItem">Si vous êtes du genre à suivre scrupuleusement les règles, alors le jeu s'arrête lorsqu'il n'y a plus de cartes. Si personne n'a complété son armée, personne n'est assez méritant pour régner sur le monde magique.</li>
    <li class="rules__partListItem">Si vous êtes un rebelle, vous pouvez mélanger à nouveau les cartes de la défausse. Normalement, les règles l'interdisent. Mais vous n'en avez rien à faire. Parce que vous êtes un rebelle.</li>
    <li class="rules__partListItem">SI vous êtes un bébé licorne, le jeu s'arrête lorsque vous renversez la table. Mais on sait que vous valez mieux qu'un bébé licorne. Alors ne le faites pas.</li>
  </ul>
  <div class="rules__imgBaby"></div>
</section>

include ../partials/footer.pug
