include ../partials/menu.pug
include ../partials/header.pug

<div class="index__top"></div>
<section class="index__main">
  <h1 class="index__mainTitle">Unstable Unicorns: Le jeu de cartes qui détruira toutes vos amitiés.</h1>
  <img src="img/ban.jpg" class="index__mainImg" alt="cards">
</section>
<img src="img/sky.jpg">
<img src="img/yoshi.png">

include ../partials/footer.pug
