include ../partials/menu.pug
include ../partials/header.pug

<h1>Et ta mère c'est une licoren ?.</h1>

<div>
  <a href="page2.html">See page 2</a>
</div>
<img src="img/sky.jpg">
<img src="img/yoshi.png">

include ../partials/footer.pug
