include ../partials/menu.pug
include ../partials/header.pug

<div class="index__top"></div>
<section class="index__main">
  <h1 class="index__mainTitle">Unstable Unicorns: Le jeu de cartes qui détruira toutes vos amitiés.</h1>
  <img class="index__mainImg" src="img/ban.jpg" alt="cards">
  <a class="index__mainLink" href="game.pug">Le jeu</a>
  <a class="index__mainLink" href="https://www.kickstarter.com/projects/ramybadie/unstable-unicorns?lang=fr">Soutenir le projet</a>
</section>

include ../partials/footer.pug
