include ../partials/menu.pug
include ../partials/header.pug

<section class="home" id="home">
  <div class="home__top"></div>
  <section class="home__main">
    <h1 class="home__mainTitle">Unstable Unicorns: Le jeu de cartes qui détruira toutes vos amitiés.</h1>
    <img class="home__mainImg" src="img/ban.jpg" alt="cards">
    <a class="home__mainLink" href="game.pug">Le jeu</a>
    <a class="home__mainLink" href="https://www.kickstarter.com/projects/ramybadie/unstable-unicorns?lang=fr">Soutenir le projet</a>
  </section>
</section>
<section class="game" id="game">
  <h2 class="game__title">Le jeu</h2>
  <div class="game__presentation">
    <h3 class="game__presentationCatchphrase">Trahissez vos amis. Désormais, seules les licornes sont vos amies.</h3>
    <p class="game__presentationParag">Il y a deux choses que tout le monde adore : les licornes et la destruction. Unstable Unicorns est un jeu de cartes stratégique qui fusionne ces deux éléments. Ses illustrations aussi trash qu'adorables et son gameplay élaboré vous feront vivre une expérience magique... et particulièrement destructrice. Lancé en 2017 sur Kickstarter, le projet a récolté plus de $1,800,000. Pour l'instant, personne n'y a réellement joué, mais vous pouvez faire confiance à l'équipe : il est tout simplement magique !
    </p>
    <p class="game__presentationParag">
    </p>
  </div>
  <img class="game__Img" src="img/unicorn-gif.gif" alt="gif">
</section>
<section class="rules" id="rules">
  <h2 class="rules__title">Les règles</h2>
  <h3 class="rules__part">Dans quoi je m'embarque ?</h3>
  <p class="rule__partParag">Vous démarrez avec un bébé licorne dans votre écurie, puis vous pourrez vous lancer dans la construction de votre armée. Chaque licorne magique a un pouvoir spécial, mais ne sous-estimez pas le puvoir des licornes ordinaires ! Utilisez bonus et malus pour protéger et construire votre écurie (ou bien pour attaquer les autres joueurs MUAHAHAHA). Les cartes "Instant" empêchent les autres joueurs de poser une carte ; elles seront donc vos meilleures amies... ou vos pire ennemies. Le premier à compléter son armée de licornes gagne !</p>
  <h3 class="rules__part">Mise en place</h3>
  <p class="rule__partParag">Réunissez toutes les cartes de bébés licornes et placez-en une dans l'écurie de chaque joueur. Placez le reste de ces cartes dans une pile : ce sera votre nurserie. Mélangez les cartes restantes et distribuez-en 5 à chaque joueur. Le reste du tas forme la pioche.</p>
</section>

include ../partials/footer.pug
