include ../partials/menu.pug
include ../partials/header.pug

<h1>Unstable Unicorns: A strategic card game that will destroy your friendships... but in a good way.</h1>

<div>
  <a href="page2.html">Lien</a>
</div>
<img src="img/sky.jpg">
<img src="img/yoshi.png">

include ../partials/footer.pug
