<div class="menu">
  <ul class="menu__list">
    <li class="menu__listItem"><a href="index.pug">Accueil</a></li>
    <li class="menu__listItem"><a href="game.pug">Le jeu</a></li>
    <li class="menu__listItem" class="menu__listItem"><a href="rules.pug">Les règles</a></li>
    <li class="menu__listItem"><a href="extensions.pug">Extensions</a></li>
  </ul>
</div>
