<div class="menu">
  <ul class="menu__list">
    <li class="menu__listItem"><a href="#home">Accueil</a></li>
    <li class="menu__listItem"><a href="#game">Le jeu</a></li>
    <li class="menu__listItem"><a href="">Les règles</a></li>
    <li class="menu__listItem"><a href="">Extensions</a></li>
  </ul>
</div>
