<div class="menu">
  <ul class="menu__list">
    <li class="menu__listItem"><a href="#home">Accueil</a></li>
    <li class="menu__listItem"><a href="#game">Le jeu</a></li>
    <li class="menu__listItem"><a href="#rules">Les règles</a></li>
    <li class="menu__listItem"><a href="https://www.unstableunicorns.com/collections/unstable-unicorns-the-game">Acheter</a></li>
  </ul>
</div>
