<div class="menu">
  <ul class="menu__list">
    <li class="menu__listItem"><a href="./../pages/index.pug">Accueil</a></li>
    <li class="menu__listItem"><a href="./../pages/game.pug">Le jeu</a></li>
    <li class="menu__listItem"><a href="./../pages/rules.pug">Les règles</a></li>
    <li class="menu__listItem"><a href="./../pages/extensions.pug">Extensions</a></li>
  </ul>
</div>
